In [12]:
use race educ coneduc age sex racdif3 using GSS2022-Copy1.dta, clear

In [35]:
ds

age      educ     sex      race     coneduc  racdif3

In [25]:
des

Contains data from GSS2022-Copy1.dta
 Observations:         3,544
    Variables:             6                  22 Jan 2024 18:45
-------------------------------------------------------------------------------
Variable      Storage   Display    Value
    name         type    format    label      Variable label
-------------------------------------------------------------------------------
age             byte    %29.0g     AGE        age of respondent
educ            byte    %29.0g     EDUC       highest year of school completed
sex             byte    %29.0g     GENDER     respondents sex
race            byte    %29.0g     RACE       race of respondent
coneduc         byte    %29.0g     INSTCONF   confidence in education
racdif3         byte    %29.0g     YESNO      differences due to lack of
                                                education
-------------------------------------------------------------------------------
Sorted by:

file tables/Table2-descriptive_statistics.rtf could not be opened
r(603);

In [7]:
codebook race educ coneduc age sex racdif3

-------------------------------------------------------------------------------
race                                                         race of respondent
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: RACE

                 Range: [1,3]                         Units: 1
         Unique values: 3                         Missing .: 0/3,544
       Unique mv codes: 1                        Missing .*: 53/3,544

            Tabulation: Freq.   Numeric  Label
                        2,514         1  white
                          565         2  black
                          412         3  other
                           53        .i  iap

-------------------------------------------------------------------------------
educ                                           highest year of school completed
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: EDUC, but 20 nonmissing values are not labeled

                 Range: [0,20]                        Units: 1
         Unique values: 21                        Missing .: 0/3,544
       Unique mv codes: 1                        Missing .*: 20/3,544

              Examples: 12
                        13
                        15
                        16

-------------------------------------------------------------------------------
coneduc                                                 confidence in education
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: INSTCONF

                 Range: [1,3]                         Units: 1
         Unique values: 3                         Missing .: 0/3,544
       Unique mv codes: 4                        Missing .*: 1,194/3,544

            Tabulation: Freq.   Numeric  Label
                          428         1  a great deal
                        1,355         2  only some
                          567         3  hardly any
                           12        .d  don't know
                        1,173        .i  iap
                            1        .n  no answer
                            8        .s  skipped on web

-------------------------------------------------------------------------------
age                                                           age of respondent
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: AGE, but 71 nonmissing values are not labeled

                 Range: [18,89]                       Units: 1
         Unique values: 72                        Missing .: 0/3,544
       Unique mv codes: 1                        Missing .*: 208/3,544

              Examples: 32
                        44
                        57
                        70

-------------------------------------------------------------------------------
sex                                                             respondents sex
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: GENDER

                 Range: [1,2]                         Units: 1
         Unique values: 2                         Missing .: 0/3,544
       Unique mv codes: 3                        Missing .*: 20/3,544

            Tabulation: Freq.   Numeric  Label
                        1,627         1  male
                        1,897         2  female
                            8        .d  don't know
                            9        .n  no answer
                            3        .s  skipped on web

-------------------------------------------------------------------------------
racdif3                                    differences due to lack of education
-------------------------------------------------------------------------------

                  Type: Numeric (byte)
                 Label: YESNO

                 Range: [1,2]                         Units: 1
         Unique values: 2                         Missing .: 0/3,544
       Unique mv codes: 4                        Missing .*: 2,410/3,544

            Tabulation: Freq.   Numeric  Label
                          608         1  yes
                          526         2  no
                           30        .d  don't know
                        2,373        .i  iap
                            3        .n  no answer
                            4        .s  skipped on web

In [10]:
sum race educ coneduc age sex racdif3

    Variable |        Obs        Mean    Std. dev.       Min        Max
-------------+---------------------------------------------------------
        race |      3,491     1.39788    .6897415          1          3
        educ |      3,524    14.10812    2.893797          0         20
     coneduc |      2,350    2.059149    .6481392          1          3
         age |      3,336    49.17746    17.97359         18         89
         sex |      3,524    1.538309     .498601          1          2
-------------+---------------------------------------------------------
     racdif3 |      1,134    1.463845    .4989111          1          2

last estimates (.) not found
r(301);

In [13]:
sum race educ coneduc age sex racdif3, d

                     race of respondent
-------------------------------------------------------------
      Percentiles      Smallest
 1%            1              1
 5%            1              1
10%            1              1       Obs               3,491
25%            1              1       Sum of wgt.       3,491

50%            1                      Mean            1.39788
                        Largest       Std. dev.      .6897415
75%            2              3
90%            3              3       Variance       .4757434
95%            3              3       Skewness       1.449074
99%            3              3       Kurtosis       3.611235

              highest year of school completed
-------------------------------------------------------------
      Percentiles      Smallest
 1%            6              0
 5%           10              0
10%           12              0       Obs               3,524
25%           12              1       Sum of wgt.       3,524

50%           14                      Mean           14.10812
                        Largest       Std. dev.      2.893797
75%           16             20
90%           18             20       Variance       8.374058
95%           19             20       Skewness      -.3403497
99%           20             20       Kurtosis       4.147407

                   confidence in education
-------------------------------------------------------------
      Percentiles      Smallest
 1%            1              1
 5%            1              1
10%            1              1       Obs               2,350
25%            2              1       Sum of wgt.       2,350

50%            2                      Mean           2.059149
                        Largest       Std. dev.      .6481392
75%            2              3
90%            3              3       Variance       .4200844
95%            3              3       Skewness      -.0572178
99%            3              3       Kurtosis        2.37216

                      age of respondent
-------------------------------------------------------------
      Percentiles      Smallest
 1%           19             18
 5%           22             18
10%           25             18       Obs               3,336
25%           34             18       Sum of wgt.       3,336

50%           48                      Mean           49.17746
                        Largest       Std. dev.      17.97359
75%           64             89
90%           73             89       Variance       323.0498
95%           78             89       Skewness       .1350248
99%           86             89       Kurtosis       1.944325

                       respondents sex
-------------------------------------------------------------
      Percentiles      Smallest
 1%            1              1
 5%            1              1
10%            1              1       Obs               3,524
25%            1              1       Sum of wgt.       3,524

50%            2                      Mean           1.538309
                        Largest       Std. dev.       .498601
75%            2              2
90%            2              2       Variance        .248603
95%            2              2       Skewness      -.1536867
99%            2              2       Kurtosis        1.02362

            differences due to lack of education
-------------------------------------------------------------
      Percentiles      Smallest
 1%            1              1
 5%            1              1
10%            1              1       Obs               1,134
25%            1              1       Sum of wgt.       1,134

50%            1                      Mean           1.463845
                        Largest       Std. dev.      .4989111
75%            2              2
90%            2              2       Variance       .2489123
95%            2              2       Skewness       .1450004
99%            2              2       Kurtosis       1.021025

In [14]:
eststo contractterm: quietly estpost ///
    summarize race educ coneduc age sex, d

esttab, cells("mean(fmt(2))" "sd(fmt(2))") label nodepvar nonumbers ///
    mtitle(" ") ///
    title("Table 2: Descriptive Statistics") noobs noabbrev modelwidth(20)

Table 2: Descriptive Statistics
-----------------------------------------

                                  mean/sd
-----------------------------------------
race of respondent                   1.40
                                     0.69
highest year of school completed                14.11
                                     2.89
confidence in education                 2.06
                                     0.65
age of respondent                   49.18
                                    17.97
respondents sex                      1.54
                                     0.50
-----------------------------------------

In [16]:
esttab using tables/t2_descriptives.rtf, ///
    cells("mean(fmt(2))" "sd(fmt(2))") label nodepvar ///
    nonumbers mtitle(" ") ///
    title("Table 2: Descriptive Statistics") ///
     noabbrev modelwidth(20) replace

(output written to tables/t2_descriptives.rtf)